:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app-container {
  display: flex;
  flex-direction: column;
  min-height: 160vh; /* Makes container the full height of the viewport */
}

/* index.css */
.background-image {
  background-image: url('/src/assets/kesha.jpg');
  background-size: cover;
  background-position: center 20%;
  position: static;     
  top: 0;
  left: 0;
  height: 300px;       
  width: 100%;
  z-index: 1;         
}

nav {
  position: static;
  display: flex;
  justify-content: right;
  gap: 82px;
  font-size: 35px;
  border: 4px solid #FF69B4; 
  box-shadow: 
    0 0 10px 4px #FF69B4,     
    inset 0 0 10px 4px #535bf2; 
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  z-index: 2; 
}

nav a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

nav a:hover {
  color: #ffffff; 
  text-shadow: 0 0 5px #535bf2, 0 0 10px #535bf2, 0 0 15px #535bf2;
  transition: color 0.3s ease, text-shadow 0.3s ease; 
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #ffffff; 
  text-shadow: 0 0 5px #535bf2, 0 0 10px #535bf2, 0 0 15px #535bf2;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

main {
  padding-top: 320px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  flex-grow: 1;
}


body {
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


/* Main grid container */
.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
  padding: 20px;
}


.project-item {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: inherit;
}


.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
  display: block;
}

.project-image-left {
  object-position: left;
}


.project-item:hover .project-image {
  transform: scale(1.1);
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  text-align: center; 
  transition: opacity 0.3s ease;
}


.project-item:hover .overlay {
  opacity: 1;
}


.overlay h2 {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.overlay p {
  font-size: 1em;
  margin: 0;
  padding: 0;
  width: 100%;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin-bottom: 50px;
}

form {
  display: flex;
  flex-direction: column;
  color: white;
  border: 4px solid #FF69B4; 
  box-shadow: 
    0 0 10px 4px #FF69B4,     
    inset 0 0 10px 4px #535bf2; 
  padding: 10px;
  width: 55%;
  box-sizing: border-box;
  background-color: #242424;
}

label {
  color: white;
}

input[type="text"] {
  background-color: white !important;
  color: #242424;
}

input[type="email"] {
  background-color: white;
  color: #242424;
}

textarea {
  background-color: white;
  height: 100px;
  color: #242424;
}

.button-container {
  display: flex;
  justify-content: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 6.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #242424;
  color: white; /* Text color */
  cursor: pointer;
  transition: background-color 0.25s, box-shadow 0.25s, color 0.25s;
}

button:hover {
  background-color: white;
  color: #535bf2; /* Text color on hover */
  box-shadow: 0 0 10px 4px #535bf2; /* Pink glow */
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.resume-pages-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
  padding: 20px;
}

.resume-page {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.resume-page-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.resume-page:hover .resume-page-image {
  transform: scale(1.05);
}

.resume-modal {
  width: 90%;
  max-width: 900px;
  height: 90%;
  margin: auto;
  background: #242424;
  padding: 20px;
  border-radius: 8px;
  overflow: hidden;
}

.overlay {
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}



nav.footer {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-bottom: auto;
}

nav.footer a {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

nav.icon:hover {
  color: #ffffff; 
  text-shadow: 0 0 5px #535bf2, 0 0 10px #535bf2, 0 0 15px #535bf2;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.icon {
  color: #646cff; /* Base color for the icon */
  transition: color 0.3s ease, filter 0.3s ease;
}

/* Hover effect for the icon */
.icon:hover {
  color: #ffffff; /* Change color on hover */
  filter: drop-shadow(0 0 5px #535bf2) drop-shadow(0 0 10px #535bf2) drop-shadow(0 0 15px #535bf2); /* Glow effect */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
